<table id="field-table">
  <% 3.times do |i| %>
    <tr>
      <% game_state.game_field
                   .split('|')[i*3..i*3+2]
                   .each_with_index do |cell, j| %>
        <td data-i="<%= i %>" data-j="<%= j %>">
          <%= cell %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
