<table id="field-table">
  <% game_state.game_field_as_matrix.each_with_index do |row, i| %>
    <tr>
      <% row.each_with_index do |cell, j| %>
        <td data-i="<%= i %>" data-j="<%= j %>">
          <%= cell %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
