<li class='game-item'>
  <span>
    Игра №<%= game.id %>
  </span>
  <span class='game-creator-name'>
    <%= game.users.first.email %>
  </span>
  <span>
    <%= link_to "присоединиться", game_path(game) %>
  </span>
  <span>
    
  </span>
</li>
