<ul>
  <li id="game-items-list-title" class="game-item">
    <span>Название игры</span>
    <span class='game-creator-name'>Создатель игры</span>
  </li>
  <% games.each do |game| %>
    <%= render 'game_item', :game => game %>
  <% end %>
</ul>
