<h3>Текущие игры</h3>
<ul id="game-items-list">
  <% @games.each do |game| %>
    <%= render 'game_item', :game => game %>
  <% end %>
</ul>

<%= link_to "Создать игру", "#", :id => "create-new-game" %>
