<div>Вы находитесь в игре №<%= @game.id %></div>
<div>Ваш противник: <%= opponent_user.email %></div>
<div id="game-field"><%= @game_state.game_field %></div>
<div>
  Сейчас ходит:
  <div id="game-state-current-user">
    <%= @game_state.current_user.email %>
  </div>
</div>
<div id="game-timer"></div>
